@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'public-sans';
	font-style: normal;
	src: url('/fonts/public-sans.ttf') format('truetype');
}

* {
	font-family: public-sans;
}
