/* Media query for most mobile device screens */
@media screen and (max-width: 900px) {
  form {
    width: 66.66% !important;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}