/*html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
label {
  text-align: center;
}
/*
form {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 33.33%;
  border: solid green 5px;
  background-color: #FFF;
  border-radius: 1em;
}

input {
  /* width minus border width and padding */
  /*
  width: calc(100% - 12px);
  padding: 5px 5px 5px 5px;
  margin: 0 0 0 0;
  border: 1px black solid;
  border-radius: .15rem;
  text-align: center;
}
*/
.primary-button, .anchor-button {
  padding: 8px;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #d15ccd;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.primary-button:hover, .anchor-button:hover {
  background-color: #b851b4;
}
.primary-button:active, .anchor-button:active, .secondary-button:active {
  transform:scale(.95)
}
.primary-button:disabled {
  background-color: red;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  width: 100%;
}
.first-form-element, .form-element {
  width: 100%;
  text-align: left;
}
.form-element {
  padding: 1rem 0 0 0;
}
.first-form-element {
  padding: 0;
}
.form-element-wrapper {
  display: flex;
}
.validation-message {
  padding: 0px;
  margin: 0px;
  height: 1rem;
}
.form-alert {
  height: 1rem;
}
.red-asterisk {
  color: red;
}
.show-password-wrapper {
  display:block;
}