@import 'theme.css';

@media screen and (max-width: 900px) {
  #dasboard-content {
    flex-direction: column !important;
  }
  #dashboard {
    flex-direction: row;
    width: calc(100vw - 16px) !important;
    height: auto !important;
    min-height: 0px !important;
    padding: 15px 0 15px 10px !important;
  }
  #navbar {
    flex-direction: row !important;
    justify-content: center !important;
    min-height: 0px !important;
    width: 100vw;
  }
  #buy-sell-forms {
    flex-direction: column;
    align-items: center;
    padding: 32px 0 32px 0!important;
    height: 100% !important;
  }
  #buy-sell-forms>div {
    width: 100% !important;
  }
  .form-wrapper {
    width: 66% !important;
  }
}
#dashboard-header {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 4rem; 
  background: rgb(0,212,255);
  background: linear-gradient(45deg, rgba(142,208,129,1) 0%, rgba(0,212,255,1) 100%);
}
#dashboard-h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin: 0 0 0 16px;
  padding: 0;
  z-index: 1;
}
.component-form {
  display: flex;
  flex-direction: column;
}
#header-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 4rem;
  margin: 0;
  z-index: 0;
}
.header-navbar-button {
  margin: 0 16px 0 0;
}
#dashboard-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-height: calc(100vh - 4rem);
  overflow-y: hidden;
  background: linear-gradient(45deg, #f0f8ff 0%, #fff 100%);
}

/* dashboard */

#overview {
  padding: 16px 16px 0 16px;
  text-align: center;
}
#overview>div {
  margin: auto;
}
#overview-welcome-text {
  margin: 0;
  text-decoration: underline;
}
#cash {
  color: green;
  margin-top: 0;
}
#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 4rem);
  background-color: rgb(0, 0, 0, .1);
}
.navbar-button {
  padding: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #d15ccd;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}
.navbar-button:hover {
  background-color: rgb(0, 0, 0, .15)
}
#dashboard {
  height: calc(100vh - 4rem);
  background-color: rgb(0, 0, 0, .05);
}

/* components */

.dashboard-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 33%;
  padding: 0 0 16px 0;
  margin: auto;
  margin-top: 64px;
  border-top: solid rgb(71,210,192) 16px;
  background-color: rgb(0, 0, 0, .0250);
  border-radius: 1rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
#buy-sell-forms {
  width: 100%;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}
#positions-table {
  text-align: center;
}
#positions-table>table {
  margin: auto;
}
#history-tables {
  text-align: center;
}
#history-tables>table {
  margin: auto;
}
.component-label, .component-input {
  text-align: center;
}