/* Media query for most mobile device screens */
@media screen and (max-width: 900px) {
  form {
    width: 66.66% !important;
  }
}
#landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
