table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  padding: 5px;
  background-color: #ccc;
  border: solid black 2px;
}
td {
  text-align: center;
  background-color: #fff;
  border: solid black 1px;
}