@import url('/static/theme.css');

/* Media query for most mobile device screens */
@media screen and (max-width: 900px) {
  form {
    width: 66.66% !important;
  }
}

body{
  background: rgb(0,212,255);
  background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(142,208,129,1) 100%); 
  overflow-x: hidden;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
