body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 4rem;
}
form {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 33.33%;
  background-color: rgb(255, 255, 255, .33);
  border-radius: 1em;
}
input {
  /* width minus border width and padding */
  width: calc(100% - 12px);
  padding: 5px 5px 5px 5px;
  margin: 0 0 0 0;
  border: 1px black solid;
  border-radius: .15rem;
}
button, .anchor-button {
  padding: 8px;
  border-radius: .50rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #DE57DA;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
button:hover, .anchor-button:hover {
  background-color: #C44DC0;
}
button:active, .anchor-button:active {
  transform:scale(.95)
}
button:disabled {
  background-color: red;
}
.tertiary-button {
  font-size: 1rem;
  font-weight: 600;
  color: #DE57DA;
  text-decoration: underline;
}
.tertiary-button:hover {
  outline: none;
  cursor: pointer;
}
.navbar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: calc(100vw - 16px);
}
.navbar-button {
  margin: 16px 16px 0 0;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  width: 100%;
}
.first-form-element, .form-element {
  width: 100%;
  text-align: left;
}
.form-element {
  padding: 1rem 0 0 0;
}
.first-form-element {
  padding: 0;
}
.form-element-wrapper {
  display: flex;
}
.validation-message {
  padding: 0px;
  margin: 0px;
  height: 1rem;
}
.red-asterisk {
  color: red;
}
.secondary-form-actions {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
  margin: 16px 0 0 0;
}
.show-password-checkbox {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0 8px 0 0;
}
#form-button-wrapper {
  height: 3rem;
}
#form-alert {
  height: 1rem;
}
#forgot-password-link {
  
}